# Ignore Python virtual environments
venv/
venv_wsl/

# Ignore logs and archives
*.log
*.zip

# Forge/Hardhat builds
out/
cache/
broadcast/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs and temp
*.log
*.zip
.vscode/
.DS_Store

# Environment variables
.env
